.agregar-disco-form {
  max-width: 400px; 
  background-color: #282828;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.full-width {
  width: 100%;
}

button.submit-button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-mdc-button-disabled.mat-unthemed.mat-mdc-button-base {
  color: rgb(199, 197, 197);
  background-color: darkgrey;
  width: auto; 
  transition: background-color 0.3s ease-in-out;
}