.container {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
  }
  
  
  mat-progress-spinner {
    margin-top: 20px;
  }

  